.Card {
    
    width: 400px;
    height: 150px;
    background-color: white;
    color: rgb(46, 45, 45);
    
    padding: 1px;
    box-shadow: 1px 1px #090909;

}

.title {
    
    color: #0052CC;
}