.Jumbotron {
    background-color: blue;
    color: white;

}

.Jumbotron-big-text {
    font-size: 3em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    width: 50%;
    
    
}

.Jumbotron-button {
    border-radius: 3em;
    font-size: 1em;
    padding: 1em;
    background-color: white;
    color: blue;
    margin-top: 15px ;
    position: absolute;
    left: 15px;
}

.Jumbotron-cards { 
    display: flex;
    justify-content: space-evenly;
    padding: 1em;
    
    
    

}


