.Jumbotron {
    background-color: blue;
    color: white;

}

.Jumbotron-big-text {
    padding-left: 3%;
    padding-top: 2%;
    font-size: 3em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    width: 46%;
    text-align: left; 
}

.Jumbotron-button {
    border-radius: 3em;
    font-size: 1em;
    padding: 1em;
    background-color: white;
    color: blue;
    margin-top: 1%;
    margin-left: 2%;
    position: absolute;
    left: 1%;
}

.Jumbotron-cards { 
    margin: 10%;
    display: flex;
    justify-content: space-evenly;
    padding: 1em;
    
    
    

}


